{% load static %}<!DOCTYPE html>
<style>
    header{position: absolute;}
</style>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'global/css/nav.css' %}">
</head>
<body>
    <header>
        {% include "global/partials/nav.html" %}
    </header>
    <main>
        <img src="{% static 'global/images/bunner_help.png' %}" alt="Banner Help">
    </main>
</body>
</html>