{% extends 'global/partials/base.html' %}

{% block nav %}
    {% include 'global/partials/nav.html' %}
{% endblock nav %}

{% block title %}Cadastro | {% endblock title %}

{% block content %}
<div class="form-wrapper">
    <h2>Crie sua conta</h2>
    <p>Preencha os campos abaixo para se cadastrar no sistema.</p><br>

    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.as_p }}
            <br>
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
    </form>

    
    <p class="center">Já tem uma conta? <a href="{% url 'autenticacao:login' %}">Faça seu login.</a></p>
</div>
{% endblock content %}