{% extends 'global/partials/base.html' %}

{% block nav %}
    {% include 'global/partials/nav.html' %}
{% endblock nav %}

{% block title %}Login | {% endblock title %}

{% block content %}
<div class="main-content container">
    {% if messages %}
        <ul class="messages-container">
            {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="form-wrapper">
    <h2>Acesse sua conta</h2>
    <p>Digite seu E-mail e Senha para entrar.</p><br>

    <form method="POST" action="{% url 'autenticacao:login' %}">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>
{% endblock content %}